<nav>
    <img src="/assets/images/logo.png" alt="logo">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/user/8" routerLinkActive="active">User</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
</nav>
<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p> -->
